<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card admin-card">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <p class="card-text">{{totalUsers}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card admin-card">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text">{{totalProducts}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card admin-card">
        <div class="card-body">
          <h5 class="card-title">Total Orders</h5>
          <p class="card-text">{{totalOrders}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card admin-card">
        <div class="card-body">
          <h5 class="card-title">Total Marketplaces</h5>
          <p class="card-text">{{totalMarketplaces}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">

    <!-- <div class="col-md-6">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="doughnutChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="categoryChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="registrationChart"></canvas>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 mt-4">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="listingsChart"></canvas>
        </div>
      </div>
    </div> -->
    <div class="col-md-6 mt-4">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="revenueChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card admin-card">
        <div class="card-body chartData">
          <canvas id="ordersChart"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>