<!-- products.component.html -->
<div class="container mt-4">
  <!-- <h3 class="mb-4">Products</h3> -->

  <!-- Search bar -->
  <div class="input-group mb-3">
    <input type="text" class="form-control flex-grow-1" placeholder="Search products..." [(ngModel)]="searchText"
      (input)="filterProducts()">
      <div class="input-group-append w-25 ms-1">
        <select class="form-control" [(ngModel)]="selectedType" (change)="filterProducts()">
          <option value="">All Types</option>
          <option value="fruits">Fruits</option>
          <option value="vegetables">Vegetables</option>
          <option value="dairy">Dairy</option>
        </select>
      </div>
  </div>

  <!-- Product list -->
  <div class="row" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
    <div class="col-lg-2 col-md-4 mb-4" *ngFor="let product of displayedProducts">
      <div class="card h-100" title="{{ product.productDescription }}">
        <img [src]="product.productImage" class="card-img-top" alt="{{ product.productName }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.productName }}</h5>
          <div class="mt-auto">
            <p class="card-text"><strong>Price: ₹{{ product.productPrice }} per {{ product.productMeasureType }}</strong></p>
            <div class="quantity-control mb-2">
              <button class="btn btn-outline-success" (click)="decreaseQuantity(product)">-</button>
              <span class="quantity-display">{{ product.selectedQuantity }} {{ product.productMeasureType }}</span>
              <button class="btn btn-outline-success" (click)="increaseQuantity(product)">+</button>
            </div>
            <button class="btn btn-success mt-2" [disabled]="isQuantityZero(product)" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>