/* dashboard.component.css */
.card {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

  .container{
      height: 100vh;
      /* border: 2px solid red; */
  }
  