/* navbar.component.css */
.navbar {
    background-color: #f8f9fa; /* Light background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    color: #4CAF50; /* Green color for the brand name */
    font-weight: bold;
  }
  
  .nav-link {
    color: #4CAF50; /* Green color for the nav links */
  }
  
  .nav-link:hover {
    color: #388E3C; /* Darker green on hover */
  }
  
  .btn-outline-success {
    border-color: #4CAF50;
    color: #4CAF50;
  }
  
  .btn-outline-success:hover {
    background-color: #4CAF50;
    color: #ffffff;
  }
  
  .dropdown-menu {
    background-color: #f8f9fa; /* Match the navbar background */
    border: none; /* Remove border for a cleaner look */
}

.dropdown-item {
    color: #4CAF50; /* Green color for dropdown items */
}

.dropdown-item:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
    color: #388E3C; /* Darker green on hover */
}

.dropdown-item.active{
  background-color: #e0e0e0; /* Light gray background on hover */
  color: black; /* Darker green on hover */
}