<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">FarmConnect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && (role === '2' || role === '1')">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/sellers" routerLinkActive="active">Market Places</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && (role === '2' || role === '1')">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">My Cart</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && role === '3'">
          <a class="nav-link" routerLink="/list-products" routerLinkActive="active">List Products</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && role === '3'">
          <a class="nav-link" routerLink="/my-listing" routerLinkActive="active">My Listings</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && role === '1'">
          <a class="nav-link" routerLink="/manage-products" routerLinkActive="active">Manage Products</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <button class="btn btn-outline-success ms-2" (click)="openLoginModal()">Login</button>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <button class="btn btn-outline-success ms-2" (click)="openSignupModal()">Signup</button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-outline-danger ms-2" (click)="openLogoutModal(logoutContent)">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Logout Confirmation Modal -->
<ng-template #logoutContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Logout</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to logout?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</ng-template>