/* sellers.component.css */
.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  /* extra */
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-top: auto; /* Ensures the description is at the bottom */
  }
  
  .input-group-append {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-group-append button {
    width: 100%;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
  }
  
  .input-group select {
    flex: 1;
  }
  
  .input-group button {
    flex: 1;
  }
  /* #map {
    margin-top: 20px;
    border: 2px solid red;
    height: 100vh !important;
    width: 100vw !important;
  } */