<!-- <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Market Locations</h2>
        <button class="btn btn-success" routerLink="/sellers">Back to markets</button>
      </div>    <div class="container mt-2 d-flex justify-content-center">
        <div *ngIf="!showAllMarkets" class="seller-details">
            <img [src]="seller?.marketImageUrl" alt="{{ seller?.marketName }}" class="img-fluid">
            <h2>{{ seller?.marketName }}</h2>
            <p><strong>Description:</strong> {{ seller?.marketDescription }}</p>
            <p><strong>Location:</strong> {{ seller?.marketAddress }}</p>
        </div>
        <div id="map" class="map-container"></div>
    </div>
</div> -->

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Market Locations</h2>
      <button class="btn btn-success" routerLink="/sellers">Back to markets</button>
    </div>
    <div class="container mt-2 d-flex justify-content-center">
      <div *ngIf="!showAllMarkets" class="seller-details">
        <img [src]="seller?.marketImageUrl" alt="{{ seller?.marketName }}" class="img-fluid">
        <h2>{{ seller?.marketName }}</h2>
        <p><strong>Description:</strong> {{ seller?.marketDescription }}</p>
        <p><strong>Location:</strong> {{ seller?.marketAddress }}</p>
        <!-- <button class="btn btn-success mt-2" (click)="getDirections()">Get Directions</button> -->
      </div>
      <div id="map" class="map-container"></div>
    </div>
  </div>
  